
@import './css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

#appp {
 width:100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}


* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #d8dbdb;
	font-size: 18px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2%;
	color: #565859;
}
.wrapper {
	background: #f6faff;
	box-shadow: 0 0 10px #666;
	border-radius: 8px;
}
.social {
	width: 98%;
	text-align: center;
	list-style-type: none;
	padding: 1%;
	background-color: #666;
}
.social li {
	display: inline;
}
.social img {
	max-width: 32px;
	margin-right: 3px;
	margin-left: 3px;
}
img {
	max-width: 100%;
}
.logo {
	width: 100%;
	padding: 1% 0;
	text-align: center;
}
.logo img {
	max-width: 250px;
}
h1, h2 {
	letter-spacing: 1px;
	padding-bottom: 15px;
}
p {
	line-height: 28px;
	padding-bottom: 25px;
}
.button {
	background: blue;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	padding: 10px 14px;
	border-radius: 8px;
	letter-spacing: 2px;
}
.one-col {
	padding: 20px 0 40px;
	text-align: center;
}
.line {
	clear: both;
	height: 1px;
	background-color: #303840;
	margin: 15px auto 10px;
	width: 98%;
}
.three-col {
	margin: 10px 0 26px;
	float: left;
	width: 29.3%;
	padding: 5% 2%;
	text-align: center;
}
.three-col img {
	border-radius: 50%;
	max-width: 100px;
	padding-top: 2%;
}
.two-col {
	margin: 10px 0 26px;
	float: left;
	width: 46%;
	padding: 5% 2%;
}
.social {
	width: 96%;
	text-align: center;
	list-style-type: none;
	padding: 2%;
	margin: 20px 0 5px;
}
.social li {
	display: inline;
}
.social img {
	max-width: 40px;
}
.contact {
	text-align: center;
	padding: 6%;
}
@media (max-width: 600px) {
	body {
		padding: 1%;
	}
	.three-col, .two-col {
		min-width: 96%;
		margin: 0 0 15px!important;
	}
	
}
